{% extends 'chart.html' %} 

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}
    
{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/ddr-table.scss' %}">
{% endblock %}

{% block reviews_table %}

<div class="table-responsive">
    <table class="table table-bordered sortable">
        <thead>
            <tr>
                <th>{% trans 'USER' %}</th>
                <th>{% trans 'REVIEW TEXT' %}</th>
                <th>{% trans 'RECOMMENDED SPEED MOD' %}</th>
                <th>{% trans 'CLEAR RATING ' %}</th>
                <th>{% trans 'SCORE RATING ' %}</th>
            </tr>
        </thead>
    <tbody>
    {% for review in reviews %}
        <tr>
            <td class="username">
                <a href="{% url 'users' user_id=review.user_id %}">{{ review.user }}</a>
            </td>
            <td class="review-text">
                {{ review.text }}
                {% if review.characteristics %}
                <div class="review-characteristics">
                    {% for item in review.characteristics %}
                        {% if forloop.last %}
                        <span class="{{ item.1 }}">{{ item.0 }})</span>
                        {% elif forloop.first %}
                        <span class="{{ item.1 }}">({{ item.0 }}, </span>
                        {% else %}
                        <span class="{{ item.1 }}">{{ item.0 }}, </span>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </td>
            <td class="options">{{ review.recommended_options }}</td>
            <td class="nc">{{ review.clear_rating | default:"--" }}</td>
            <td class="score">{{ review.score_rating | default:"--" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}